.heading {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 0px;
}

.heading::before {
  padding-right: 10px;
  content: "Movie";
  color: orange;
}


.heading2 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

}

#omdb {
  color: red;
}

body {

  background-image: linear-gradient(rgba(20, 20, 20, 0.85),
      rgba(20, 20, 20, 0.85)), url("background\ img.jpg");

}

#input {

  width: 70%;
  padding: 10px;
  border-radius: 8px;
  border: none;

}

input::placeholder {
  font-size: 16px;
}

#search {
  color: white;
  border-radius: 9px;
  border: none;
  font-family: arial, sans-serif;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(255, 0, 0);
  font-size: 16px;
  cursor: pointer;

  transition: transform .4s;

}

#search:hover {
  background-color: rgb(204, 72, 23);
  font-size: 16px;
  transform: scale(1.1)

}

.searchbox {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}

.searchlist {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
    gap: 23px;
    padding: 40px 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.outputbox {
  position: relative;
background-color: rgba(20, 20, 20, 0.85);
   width: 187px;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    margin: 0;
    transition: all 0.2s ease;
    cursor: pointer;
  transition: transform .5s;
}
/* updateddd */
.outputbox:hover {
    transform: scale(1.1);
}

.info {

 margin-top: 12px;
    color: #f5f5f5;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.4;
}

#poster {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}


.title {
  margin-top: 12px;
  color: #f5f5f5;
  font-size: 15px;
}

.invalid{
 margin-top: 12px;
    color: #f5f5f5;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.4;
     width: 100%;        
  text-align: center;  

} 

.save-data {
  color: white;
  border-radius: 9px;
  border: none;
  font-family: arial, sans-serif;
  font-weight: bold;
  padding: 15px;
  background-color: orange;
  font-size: 16px;
  cursor: pointer;
transition: transform .5s;

}

.save-data:hover {
  background-color: rgb(204, 72, 23);
  font-size: 16px;
  transform: scale(1.1);

}

#loading{
  display: none;
}

.loader{
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-top: 10px solid red;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.placement{

  display: flex;
  justify-content: center;
}

.save-data.clicked{

  background-color: rgb(142, 50, 16);
  font-size: 16px;
  transform: scale(1.1);
}